﻿@{
    ViewData["Title"] = "Hungry?";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <title>Hungry?</title>
</head>
<body style="top: 0px; left: 0px; width: 1920px; height: 1080px; background: transparent linear-gradient(180deg, #FF7F00 0%, #FFB100 100%) 0% 0% no-repeat padding-box; opacity: 1;">
    <div class="container" style="top: 277px; left: 689px; width: 543px; height: 576px; background: #FF6767 0% 0% no-repeat padding-box; box-shadow: 0px 24px 35px #696969; border: 2px solid #FFFFFF; border-radius: 57px; opacity: 0.2;">
        <div class="table">
            <div class="text-lg-center" style="top: 349px; left: 800px; width: 320px; height: 95px; font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-80)/var(--unnamed-line-spacing-97) var(--unnamed-font-family-helvetica-neue); letter-spacing: var(--unnamed-character-spacing-0); text-align: left; font: normal normal bold 80px/97px Helvetica Neue; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">
                Hungry?
            </div>
            <div class="btn" style="top: 493px; left: 824px; width: 275px; height: 83px; border: 2px solid #FFFFFF; border-radius: 49px; opacity: 1;">
                <a class="button" asp-action="LoginForm" style="font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-40)/var(--unnamed-line-spacing-49) var(--unnamed-font-family-helvetica-neue); letter-spacing: var(--unnamed-character-spacing-0); text-align: left; font: normal normal bold 40px/49px Helvetica Neue; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">
                    Log In
                </a>
            </div>
            <div class="btn" style="top: 626px; left: 753px; width: 414px; height: 83px; border: 2px solid #FFFFFF; border-radius: 49px; opacity: 1;">
                <a asp-action="Index" asp-controller="Restaurants" style="top: 644px; left: 782px; width: 352px; height: 48px; font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-40)/var(--unnamed-line-spacing-49) var(--unnamed-font-family-helvetica-neue); letter-spacing: var(--unnamed-character-spacing-0); text-align: left; font: normal normal bold 40px/49px Helvetica Neue; letter-spacing: 0px; color: #FFFFFF; opacity: 1;">
                    Restaurants Nearby
                </a>
            </div>
            <div class="nav-link" style="top: 756px; left: 866px; width: 183px; height: 36px; font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) 30px/37px var(--unnamed-font-family-helvetica-neue); letter-spacing: var(--unnamed-character-spacing-0); text-align: left; text-decoration: underline; font: normal normal medium 30px/37px Helvetica Neue; letter-spacing: 0px; color: #F8F8F8; opacity: 1;">
                Sign up here!
            </div>
        </div>
    </div>
</body>
</html>
