﻿@model ImHungry.Models.VisitedRestaurant

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VisitedRestaurant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserLiked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserLiked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rest.RestId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.EmailAddress)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="RestId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
