﻿@model ImHungry.Models.VisitedRestaurant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VisitedRestaurant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserLiked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserLiked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rest.RestId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.EmailAddress)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
