﻿:root {
    /* Font/text values */
    --unnamed-font-family-helvetica-neue: Helvetica Neue;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-medium: medium;
    --unnamed-font-size-40: 40px;
    --unnamed-font-size-50: 50px;
    --unnamed-font-size-80: 80px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-49: 49px;
    --unnamed-line-spacing-61: 61px;
    --unnamed-line-spacing-97: 97px;
}

/* Character Styles */
.unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-helvetica-neue);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-50);
    line-height: var(--unnamed-line-spacing-61);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-717171);
}

.unnamed-character-style-2 {
    font-family: var(--unnamed-font-family-helvetica-neue);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-80);
    line-height: var(--unnamed-line-spacing-97);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
}

.unnamed-character-style-3 {
    font-family: var(--unnamed-font-family-helvetica-neue);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-40);
    line-height: var(--unnamed-line-spacing-49);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-989898);
}