﻿@model ImHungry.Models.Restaurants

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Restaurants</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RestName" class="control-label"></label>
                <input asp-for="RestName" class="form-control" />
                <span asp-validation-for="RestName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestAddress" class="control-label"></label>
                <input asp-for="RestAddress" class="form-control" />
                <span asp-validation-for="RestAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestCity" class="control-label"></label>
                <input asp-for="RestCity" class="form-control" />
                <span asp-validation-for="RestCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestZipcode" class="control-label"></label>
                <input asp-for="RestZipcode" class="form-control" />
                <span asp-validation-for="RestZipcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestCountry" class="control-label"></label>
                <input asp-for="RestCountry" class="form-control" />
                <span asp-validation-for="RestCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestPhone" class="control-label"></label>
                <input asp-for="RestPhone" class="form-control" />
                <span asp-validation-for="RestPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
