﻿@model ImHungry.Models.Restaurants

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Restaurants</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestZipcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestZipcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RestId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
