﻿@model ImHungry.Models.Restaurants

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Restaurants</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestZipcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestZipcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RestId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
