﻿@model IEnumerable<ImHungry.Models.Restaurants>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RestName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestZipcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestZipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
